<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <title>{% block title %}Template{% endblock %}</title>
</head>
<style>
    div, table {
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }
    table, th, td {
        border: 1px solid;
        border-collapse: collapse;
    }
    body {
        max-width: 900px;
        margin: auto;
    }
</style>
<body>
  <nav class="navbar">
    <div id="navbar">
      <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a id="home" href="/">Home</a>
          {% if user.role != 'emp' %}
            <a id="employees" href="/employees">Employees</a>
          {% endif %}
          {% if user.role == 'admin' or user.role == 'mgr' %}
            <a id="join-requests" href="/join-requests">Join Requests</a>
          {% endif %}
          {% if user.role == 'admin' %}
            <a id="shops" href="/shops">Shops</a>
          {% endif %}
          {% if user.role in ['admin', 'mgr'] %}
            <a id="users" href="/users">Users</a>
          {% endif %}
          <a id="sales" href="/sales">Sales</a>
          <a id="reports" href="/reports">Reports</a>
          <a id="mydetails" href="/my-details">My Details</a>
          <a id="logout" href="/logout">Logout</a>
          {% else %}
          <a id="login" href="/login">Login</a>
          <a id="signup" href="/sign-up">Sign Up</a>
          {% endif %}
      </div>
    </div>
  </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div role="alert">
                {{ message }}
                <button type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <!--script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script-->
</body>
</html>