<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Template{% endblock %}</title>
</head>
<body>
  <nav class="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
              {% if user.role != 'emp' %}
                <a class="nav-item nav-link" id="employees" href="/employees">Employees</a>
              {% endif %}
              {% if user.role == 'admin' or user.role == 'mgr' %}
                <a id="join-requests" href="/join-requests">Join Requests</a>
              {% endif %}
              {% if user.role == 'admin' %}
                <a id="shops" href="/shops">Shops</a>
              {% endif %}
              {% if user.role in ['admin', 'mgr'] %}
                <a id="users" href="/users">Users</a>
              {% endif %}
          <a class="nav-item nav-link" id="reports" href="/reports">Reports</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signup" href="/sign-up">Sign Up</a>
          {% endif %}
      </div>
    </div>
  </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>