{% extends "base.html" %}
{% block title %}Admin - Create Shop{% endblock %}
{% block content %}
<form method="POST">
    {% if prefill %}
        <h3>Edit Shop</h3>
    {% else %}
        <h3>Create Shop</h3>
    {% endif %}
    <div>
        <label for="shop_name">Shop name</label>
        <input type="text" id="shop_name" name="shop_name" placeholder="Shop name" value="{{ prefill.shop_name }}">
    </div>
     <div class="form-group">
        <label for="email">Shop email</label>
        <input type="email" id="email" name="email" placeholder="Shop email" value="{{ prefill.email }}">
    </div>
    <div class="form-group">
        <label for="contact">Shop contact</label>
        <input type="text" id="contact" name="contact" placeholder="Shop contact" value="{{ prefill.contact }}">
    </div>
    <div class="form-group">
        <label for="address">Shop address</label>
        <input type="text" id="address" name="address" placeholder="Shop address" value="{{ prefill.address }}">
    </div>
    <br/>
    <button type="submit">Submit</button>
</form>
{% endblock %}