{% extends "base.html" %}
{% block title %}Shop - Join Requests{% endblock %}
{% block content %}
<h1 align="center">Join Requests</h1>
<table id="join-list">
    <tr>
        {% if user.role == 'admin' %}
        <th>Shop ID</th>
        {% endif %}
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Processed By</th>
        <th>Status</th>
    </tr>
    {% for jr in join_requests %}
    <tr>
        {% if user.role == 'admin' %}
        <td> {{ jr.shop_id }}</td>
        {% endif %}
        <td>{{ json.loads(jr.data)['first_name'] }}</td>
        <td>{{ json.loads(jr.data)['last_name'] }}</td>
        <td>{{ json.loads(jr.data)['email'] }}</td>
        <td>{{ json.loads(jr.data)['contact'] }}</td>
        <td>
            {% if jr.processed_by %}
            {{ jr.processed_by }}
            {% endif %}
        </td>
        <td>
            {% if not jr.status %}
            pending
            {% else %}
            {{ jr.status }}
            {% endif %}
        </td>
        {% if not jr.processed_by %}
        <td>
            <button type="button" class="accept-btn" onclick="location.href='/accept-join/{{ jr.id }}'">
                <span aria-hidden="true">Accept</span>
            </button>
            <button type="button" class="decline-btn" onclick="location.href='/decline-join/{{ jr.id }}'">
                <span aria-hidden="true">Decline</span>
            </button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}