{% extends "base.html" %}
{% block title %}Shop - Join Requests{% endblock %}
{% block content %}
<h1 align="center">Join Requests</h1>
<table id="join-list">
    <tr>
        {% if user.role == 'admin' %}
        <th>Shop ID</th>
        {% endif %}
        <th>Role</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Processed By</th>
        <th>Status</th>
    </tr>
    {% for jr in join_requests %}
        {% set data = json.loads(jr.get('data').replace("'", '"')) %}
    <tr>
        {% if user.role == 'admin' %}
        <td> {{ jr.get('shop_id') }}</td>
        {% endif %}
        <td>{{ data.get('role') }}</td>
        <td>{{ data.get('first_name') }}</td>
        <td>{{ data.get('last_name') }}</td>
        <td>{{ data.get('email') }}</td>
        <td>{{ data.get('contact') }}</td>
        <td>
            {% if jr.get('processed_by') %}
            {{ jr.get('processed_by') }}
            {% endif %}
        </td>
        <td>
            {% if not jr.get('status') %}
            pending
            {% else %}
            {{ jr.get('status') }}
            {% endif %}
        </td>
        {% if not jr.get('processed_by') %}
        <td>
            <button type="button" class="accept-btn" onclick="location.href='/accept-join/{{ jr.id }}'">
                <span aria-hidden="true">Accept</span>
            </button>
            <button type="button" class="decline-btn" onclick="location.href='/decline-join/{{ jr.id }}'">
                <span aria-hidden="true">Decline</span>
            </button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br>
{% if user.role in ['admin', 'mgr'] %}
<button type="button" onclick="location.href='/entries'">Entries page</button>
{% endif %}
{% endblock %}