{% extends "base.html" %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<form method="POST">
    <h3>Reset Password</h3>
    <div>
        <label for="password">New Password</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label for="password_confirmation">Confirm Password</label>
        <input type="password" id="password_confirmation">
    </div>
    <br/>
    <button type="submit" disabled>Confirm</button>
</form>
    <script>
        const submit_button = document.getElementsByTagName('button');
        let password = document.getElementById('password');
        let password_confirm = document.getElementById('password_confirmation');
        password.onkeyup = function(){
            if (validate_fields()){
                submit_button[0].removeAttribute('disabled');
            } else {
                submit_button[0].setAttribute('disabled', 'true');
            }
        }
        password_confirm.onkeyup = function(){
            if(validate_fields()){
                submit_button[0].removeAttribute('disabled');
            } else {
                submit_button[0].setAttribute('disabled', 'true');
            }
        }

        function validate_fields(){
            return ((password.value === password_confirm.value) && (password.value !== '') && (password_confirm.value !== '') )
        }
    </script>
{% endblock %}