{% extends "base.html" %}
{% block title %}Admin - Shops{% endblock %}
{% block content %}
<h1>Shops</h1>
<table id="shop-list">
    <tr>
        <th>ID</th>
        <th>Shop Name</th>
        <th>Shop Email</th>
        <th>Shop Contact</th>
        <th>Shop Address</th>
    </tr>
    {% for shop in shops %}
    <tr>
        <td>{{ shop.get('id') }}</td>
        <td>{{ shop.get('shop_name') }}</td>
        <td>{{ shop.get('email') }}</td>
        <td>{{ shop.get('contact') }}</td>
        <td>{{ shop.get('address') }}</td>
        <td>
            <button type="button" onclick="location.href='/remove-shop/{{ shop.id }}'">
                <span aria-hidden="true">&times;</span>
            </button>
        </td>
        {% if user.role == 'admin' %}
        <td>
            <button type="button" onclick="location.href='/create-shop?s={{ shop.id }}'">
                <span aria-hidden="true">Edit</span>
            </button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br>
<button type="button" id="add_shop" onclick="location.href='/create-shop'">Create Shop</button>
{% endblock %}