{% extends "base.html" %}
{% block title %}Admin - Users{% endblock %}
{% block content %}
<h1>Users</h1>
<table id="users-list">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Role</th>
        <th>Shop id</th>
    </tr>
    {% for u in users %}
        {% if (user.role == 'mgr' and u.get('role') == 'admin') or (user.role != 'admin' and user.shop_id != u.shop_id) %}
            {% set err = u %}
        {% else %}
            <tr>
                <td>{{ u.get('id') }}</td>
                <td>{{ u.get('first_name') }}</td>
                <td>{{ u.get('last_name') }}</td>
                <td>{{ u.get('email') }}</td>
                <td>{{ u.get('contact') }}</td>
                <td>{{ u.get('role') }}</td>
                <td>{{ u.get('shop_id') }}</td>
                <td>
                    <button type="button" onclick="location.href='/remove-user/{{ u.get('id') }}'">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
                {% if u.role != 'admin' %}
                <td>
                    <button type="button" onclick="location.href='/direct-signup?u={{ u.get('id') }}'">
                        <span aria-hidden="true">Edit</span>
                    </button>
                </td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
</table>
<br>
{% if user.role == 'admin' %}
<button type="button" id="add_user" onclick="location.href='/direct-signup'">Create User</button>
{% endif %}
{% endblock %}